body{
    font-family: 'Harmattan', sans-serif;
    background-image: url(./pic/ca.jpg);
    background-position:50% 50%;
    background-size: cover;
    
}
.sign-up{
    width: 300px;
    height: 450px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.384);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.signup-btn{
   
    color: rgb(0, 0, 0);
    width: 80%;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgba(194, 188, 188, 0.788);
}
.input-box{
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: 1px solid #999;
    outline: none;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.back-btn{
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 60px;
    padding: 10px;
    margin-left: 20px;
}


