body{
    background-color:#f0a938;
}
h1{
    display: inline-flex;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: 'Harmattan', sans-serif;
    background-color: rgba(0, 0, 0, 0.39);
    margin-left:550px;
    border-radius: 30px;
 }

 .boxs{
     display: flex;
     justify-content: center;                            
 }
.box{
    background-color:  white;
    height: 360px;
    width: 210px;
    margin-top: 70px;
    border-radius: 20px;
    border: 3px solid  #000000b7;                         
    margin-left:8px;
    padding: 10px;
}
img{
    margin-left: 15px;
    margin-top: 20px;
    height: 180px;
    width: 180px;
    border-radius: 10px;
}
p{
    font-size: 35px;
    margin-left: 40px;
    font-family: 'Harmattan', sans-serif;
 }
 .back-btn{
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 60px;
    padding: 10px;
    margin-left: 20px;
}
